body {
  font-weight: normal; }

.unit-name {
  font-size: 75%; }

.emojione {
  /* Emoji Sizing */
  font-size: inherit;
  height: 3ex;
  width: 3.1ex;
  min-height: 20px;
  min-width: 20px;
  /* Inline alignment adjust the margins  */
  display: inline-block;
  margin: -.2ex .15em .2ex;
  line-height: normal;
  vertical-align: middle; }

img.emojione {
  /* prevent img stretch */
  width: auto; }

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 13px;
  background-color: #fff;
  color: #000; }

.wrapper {
  margin: 0 auto;
  width: 730px; }

.content {
  padding: 0px 10px;
  text-align: left;
  background-color: #FFFFFF;
  position: relative; }

.in {
  width: 850px;
  margin: 25px auto;
  text-align: left; }

.line {
  border-top: 1px solid #bab9b9;
  height: 1px; }

/*.............................................................General.................... */
h1, h2, h3 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 32px;
  text-align: center;
  padding: 10px 0 20px; }

h2 {
  font-family: Georgia;
  font-size: 24px;
  font-style: italic; }

#invoiceHead {
  padding-bottom: 5px; }

.alpha {
  float: left;
  text-align: left;
  width: 385px; }

.alpha .recipientName {
  margin-top: 0 !important; }

.beta_gamma {
  float: right;
  width: 325px;
  text-align: left;
  margin-bottom: 20px; }

.beta {
  float: right;
  text-align: left;
  font-size: 12px;
  margin-right: 5px;
  width: 240px; }

.gamma {
  float: right;
  height: 80px;
  width: 80px;
  overflow: hidden; }

.recipientName {
  font-size: 150%;
  text-decoration: underline; }

.subject {
  line-height: 140%;
  padding-right: 30px; }

.logo img {
  margin-bottom: 1em;
  max-width: 230px;
  max-height: 80px; }

.senderName {
  margin-top: 0 !important;
  font-size: 120%; }

.alnright {
  text-align: right; }

/*.............................................................Table................... */
dl.totalAmountPrice {
  width: 80%;
  border-bottom: 1px solid #000;
  font-size: 130%; }

.totalAmountPrice dt {
  float: left; }

.totalAmountPrice dd {
  float: right;
  text-align: right; }

td {
  padding: 12px;
  text-align: left; }

tr, td, th, tbody, thead, tfoot {
  page-break-inside: avoid; }

.gray td {
  background-color: #f7f7f7; }

.table_main {
  height: 506px;
  border-collapse: collapse; }

.table_main th {
  border: 1px solid #000;
  background-color: #d9d8d8;
  text-align: center;
  font-size: 14px;
  padding: 0px; }

.table_main td {
  border: 1px solid #000;
  padding: 0 10px; }

.table_main td.blank {
  border: none; }

#qrcodeArea {
  margin: 2em 0;
  padding: 5px;
  border-top: 4px solid #bbb;
  border-bottom: 4px solid #bbb;
  background: #f7f7f7;
  page-break-inside: avoid; }
#qrcodeArea img {
  float: left;
  margin: 15px;
  border: 1px solid #d9d8d8; }
#qrcodeArea p strong {
  font-size: 16px; }

#footerLogo {
  width: 100px;
  position: absolute;
  bottom: -25px;
  right: 0.3cm; }

/* for modern brouser */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

/* IE7,MacIE5 */
.clearfix {
  display: inline-block; }

/* WinIE6 below, Exclude MacIE5 \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }


// 改ページ
.page-break {
  page-break-after:always;
  &:last-child {
    page-break-after: avoid;
  }
}