body {
  font-weight: normal; }

.unit-name {
  font-size: 75%; }

img.emojione {
  /* prevent img stretch */
  width: auto; }

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 13px;
  background-color: #fff;
  color: #000; }

.wrapper {
  margin: 50px auto;
  width: 730px; }

.content {
  padding: 0px 10px;
  text-align: left;
  background-color: #FFFFFF;
  position: relative; }

.in {
  width: 850px;
  margin: 25px auto;
  text-align: left; }

.line {
  border-top: 1px solid #bab9b9;
  height: 1px; }

/*.............................................................General.................... */
h1, h2, h3 {
  margin-bottom: 20px;
  padding: 0; }

h1 {
  font-size: 32px;
  text-align: center;
  padding: 10px 0 20px; }

h2 {
  font-family: Georgia;
  font-size: 24px;
  font-style: italic; }

#invoiceHead {
  padding-bottom: 5px; }

.alpha {
  float: left;
  text-align: left;
  width: 440px;
  display: inline; }

.alpha .recipientName {
  margin-top: 0 !important; }

.beta {
  float: left;
  text-align: left;
  margin-bottom: 20px;
  display: inline; }

.gamma {
  float: right;
  text-align: right;
  vertical-align: top;
  display: inline; }

.recipientName {
  font-size: 150%;
  text-decoration: underline; }

.subject {
  line-height: 140%;
  padding-right: 30px; }

.logo img {
  margin-bottom: 1em;
  max-width: 230px;
  max-height: 80px; }

.senderName {
  margin-top: 0 !important;
  font-size: 120%; }

.alnright {
  text-align: right; }

.bankAccount {
  text-align: center;
}

/*.............................................................Table................... */
dl.totalAmountPrice {
  margin-top: 70px;
  width: 80%;
  border-bottom: 1px solid #000;
  font-size: 130%; }

.totalAmountPrice dt {
  float: left; }

.totalAmountPrice dd {
  float: right;
  text-align: right; }

td {
  padding: 12px;
  text-align: left; }

tr, td, th, tbody, thead, tfoot {
  page-break-inside: avoid; }

td, th {
  height: 30px;
}

.gray td {
  background-color: #f7f7f7; }

.table_main {
  //height: 506px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-collapse: collapse; }

.table_main th {
  border: 1px solid #000;
  background-color: #d9d8d8;
  text-align: center;
  font-size: 14px;
  padding: 0px; }

.table_main td {
  border: 1px solid #000;
  padding: 0 10px; }

.table_main td.blank {
  border: none; }

/* for modern brouser */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

/* IE7,MacIE5 */
.clearfix {
  display: inline-block; }

/* WinIE6 below, Exclude MacIE5 \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }


// 改ページ
.page-break {
  page-break-after:always;
  &:last-child {
    page-break-after: avoid;
  }
}